@import "../../../variables.scss";

@include media-breakpoint-down(lg) {
    .search-page-container {
        width: 100%;
    }
}

@include media-breakpoint-only(lg) {
    .search-page-container {
        width: 80%;
    }
}

@include media-breakpoint-up(xl) {
    .search-page-container {
        width: 70%;
    }
}

.drop-zone {
    border-radius: 10px;
    background-color: $darker;
}

@include media-breakpoint-up(md) {
    .drop-zone {
        border: 2px dashed $light;
    }
}
