<div class="mb-5">
    <div class="text-body">
        <h1 class="text-center position-relative mb-3">
            <a routerLink="/" appReload>
                <img class="fluffle-banner d-inline-block me-1" src="/assets/img/fluffle-banner.svg"
                    alt="Fluffle banner">
            </a>
            <span class=" text-muted d-none d-md-inline-block position-absolute text-uppercase"
                style="font-size: 1rem">{{ environment.version }}</span>
        </h1>
    </div>
    <i class="text-muted text-center d-block">
        A possibly still very unstable reverse image search engine for furry content
    </i>
</div>
<div class="d-flex justify-content-center flex-column">
    <div class="d-flex justify-content-center">
        <div class="bg-danger search-page-container alert" *ngIf="searchResultService.state === SearchState.Error">
            <div class="d-flex">
                <div class="d-flex align-content-center flex-wrap">
                    <i class="fas fa-exclamation-triangle fa-lg me-3"></i>
                </div>
                <div>
                    {{ searchResultService.errorMessage }}
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <input class="d-none" type="file" (change)="onSelect($event)" name="image" id="file" />
        <label *ngIf="searchResultService.state !== SearchState.Uploading"
            class="search-page-container drop-zone py-5 px-3" (dragover)="onDragover($event)"
            appDragClass="drop-zone-drag" (drop)="onDrop($event)" for="file">
            <div class="d-flex flex-column justify-content-center">
                <p class="text-center mt-4 mb-0 d-none d-md-inline" style="font-size: 3rem">
                    Drag 'n drop a fluffy critter here
                </p>
                <p class="text-center mt-3 mb-4 d-none d-md-inline">
                    Or
                </p>
                <span class="text-center mb-4 mb-0">
                    <label for="file">
                        <span class="btn btn-primary d-none d-md-inline-block">
                            <i class="fas fa-image fa-lg me-2"></i>
                            Select a floof
                        </span>
                        <span class="btn btn-primary btn-lg w-100 d-sm-block d-md-none mb-3">
                            <i class="fas fa-image fa-lg me-2"></i>
                            Select a fluffy critter
                        </span>
                    </label>
                    <span class="btn-group" role="group">
                        <button type="button" class="btn ms-2"
                            [ngClass]="config.imageRating === ImageRating.Safe ? 'btn-info' : 'btn-secondary'"
                            (click)="config.imageRating = ImageRating.Safe" style="box-shadow: none;">SFW</button>
                        <button type="button" class="btn"
                            [ngClass]="config.imageRating === ImageRating.Explicit ? 'btn-danger' : 'btn-secondary'"
                            (click)="config.imageRating = ImageRating.Explicit" style="box-shadow: none;">NSFW</button>
                    </span>
                </span>
                <span class="text-center text-muted">
                    Concerned about what happens to your data? Take a look at the
                    <a href="#" routerLink="/about" fragment="privacy">about page</a>.
                </span>
            </div>
        </label>

        <div class="search-page-container" *ngIf="searchResultService.state === SearchState.Uploading">
            <div class="progress mb-3">
                <div class="progress-bar progress-bar-striped bg-primary progress-bar-animated" role="progressbar"
                    [ngStyle]="{width: searchResultService.progress + '%'}"></div>
            </div>
            <div class="text-center">
                <span *ngIf="searchResultService.progress !== 100">Uploading...</span>
                <span *ngIf="searchResultService.progress === 100">Processing...</span>
            </div>
        </div>
    </div>

    <div class="w-100" *ngIf="searchResultService.state === SearchState.Finished" #container>
        <app-search-result-desktop [element]="container"></app-search-result-desktop>
        <app-search-result-mobile [element]="container"></app-search-result-mobile>
    </div>
</div>
<canvas class="d-none" #canvas></canvas>