<div class="d-flex flex-column h-100 text-center">
    <div>
        <div class="d-flex justify-content-center">
            <a href="https://twitter.com/OggyOsbourne/status/1294700124187262976" target="_blank">
                <img class="rounded-circle d-block" src="/assets/img/noppes.jpg" width="256" height="256" alt="NoppesTheFolf icon by Oggy123" />
            </a>
        </div>
        <i class="text-muted">Art by <a href="https://twitter.com/OggyOsbourne/status/1294700124187262976" target="_blank">Oggy123</a></i>
    </div>
    <div class="mt-4">
        A sporadically motivated, coffee addicted, folf from the Netherlands that happens to exists in the same universe as you do.
    </div>
    <div class="mt-4 d-flex justify-content-center">
        <a class="btn-social" href="https://twitter.com/NoppesTheFolf" target="_blank">
            <span class="fab fa-twitter"></span>
        </a>
        <a class="btn-social" href="https://t.me/NoppesTheFolf" target="_blank">
            <span class="fab fa-telegram-plane"></span>
        </a>
    </div>
</div>
