@import "../../variables.scss";

$nav-item-spacing: $spacer * 1.5;

@include media-breakpoint-up(sm) {
    .nav-item:first-child {
        margin-right: $nav-item-spacing;
    }

    .nav-item:not(:first-child):not(:last-child) {
        margin: 0 $nav-item-spacing;
    }

    .nav-item:last-child {
        margin-left: $nav-item-spacing;
    }
}

$nav-link-active-height: 2px;

.nav-link {
    position: relative;
}

.nav-link-active::after {
    position: absolute;
    content: "";
    bottom: 0px;
    left: 0px;
    height: $nav-link-active-height;
    width: 100%;
    background: $primary-light;
    background: linear-gradient($gradient-degree, $primary-light $gradient-start, $primary $gradient-end);
    border-radius: $nav-link-active-height;
}

a:active,
a:focus {
    outline: none;
}
