@import "../../variables.scss";

.banner {
    z-index: 100;
    border: solid $even-darker;
    border-width: 1.5px;
}

.consent-button {
    margin: 0 0 0 (0.75 * $spacer);
}

@include media-breakpoint-up(xxl) {
    .banner {
        max-width: map-get($grid-breakpoints, "md");
    }
}

@include media-breakpoint-down(xxl) {
    .banner {
        max-width: 60vw;
    }
}

@include media-breakpoint-down(lg) {
    .banner {
        max-width: 80vw;
    }
}

@include media-breakpoint-down(md) {
    .banner {
        bottom: 0;
        left: 0;
        flex-direction: column;
        max-width: 100vw;
    }

    .consent-button {
        width: 100%;
        margin: (0.75 * $spacer) 0 0 0;
    }
}

@include media-breakpoint-up(md) {
    .banner {
        bottom: 1rem;
        left: 1rem;
    }
}
