<div class="position-fixed bg-dark rounded p-3 banner d-flex align-items-center" [ngClass]="{'d-none': consentGiven}">
    <i class="d-none d-md-block fas fa-3x fa-cookie-bite me-3"></i>
    <h1 class="w-100 d-md-none">Hej, we use cookies!</h1>
    <span>
        <span class="d-none d-md-inline">Hej! Fluffle makes use of cookies.</span>
        These are strictly necessary for Fluffle to function as intended. You
        can read more about them in the <a routerLink="/about" fragment="cookies">about section</a>.
    </span>
    <span class="btn btn-primary btn-sm text-nowrap consent-button" (click)="consentGiven = true">
        Okey-dokey!
    </span>
</div>