@import "variables";

@each $state, $color-dark, $color-light in $gradients {
    .btn-#{$state} {
        background: $color-light;
        background: linear-gradient($gradient-degree, $color-light $gradient-start, $color-dark $gradient-end);
    }

    .btn-#{$state}:hover {
        background: $color-dark;
        background: linear-gradient(
            $gradient-degree,
            $color-light $gradient-hover-start,
            $color-dark $gradient-hover-end
        );
    }

    .bg-#{$state} {
        background: $color-light;
        background: linear-gradient($gradient-degree, $color-light $gradient-start, $color-dark $gradient-end);
    }
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.fluffle-banner {
    height: 100px;
    max-width: 90%;
}

a {
    text-decoration: none !important;
    outline: none !important;
}

.bg-dark {
    background: $darker !important;
}

.bg-darkest {
    background: $darkest !important;
}

html,
body {
    width: 100%;
    height: 100%;
}
