pandas==1.3.4
numpy==1.21.4
scikit-learn==1.0.1
more-itertools==8.12.0
Pillow==8.4.0
fastapi==0.70.0
python-multipart==0.0.5
joblib==1.1.0
b2sdk==1.13.0
uvicorn==0.15.0
pyaml==21.10.1
wheel==0.37.0
keras_preprocessing==1.1.2
