<div class="position-relative w-100 h-100 overflow-hidden bg-darkest">
    <img class="gallery-image" [ngClass]="{
            blur: hasBlur
        }" [ngStyle]="{
            objectPosition: thumbnail.centerX + '% ' + thumbnail.centerY + '%',
            opacity: hasBeenLoaded ? '1' : '0'
        }" #imageElement>
    <div [ngClass]="{'d-none': !hasError}"
        class="error-container d-flex justify-content-center align-items-center text-center p-3">
        {{ error }}
    </div>
    <div class="skeleton" [ngClass]="{'d-none': hasBeenLoaded || hasError}"></div>
</div>