@import "../../variables.scss";

.gallery-image {
    position: absolute;
    will-change: transform; /* Browsers needs this to render correctly */
    width: 100%;
    height: 100%;
    transition: all 0.15s, opacity 0.3s;
    top: 0;
    left: 0;
    object-fit: cover;
}

.blur {
    filter: blur(8px);
    transform: scale(1.1);
}

.error-container {
    position: absolute;
    width: 100%;
    height: 100%;
    color: $text-color;
    font-size: 1.5rem;
}

.skeleton {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
        135deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 45%,
        rgba(255, 255, 255, 0.2) 49%,
        rgba(255, 255, 255, 0.2) 51%,
        rgba(0, 0, 0, 0) 55%,
        rgba(0, 0, 0, 0) 100%
    );
    background-size: 400% 400%;
    animation: Skeleton 1.2s linear infinite;
    animation-delay: 0.8s;
}

@keyframes Skeleton {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}
