I am a bot that can reverse search furry art. I'll try to find the sources of any images you throw at me\! I can also help out in channels and groups chats, check out Fluffle its [bot documentation](https://fluffle.xyz/bot/) if you are interested in that.

*Configuration*
[The website](http://fluffle.xyz/bot/#configuration) contains examples and more details about how you can configure the bot.

/setformat \- Set if sources should be presented using text/captions or the inline keyboard.
/settextformat \- Set if text should be formatted the compact or expanded way.

*Miscellaneous*
/ihasfoundbug \- Found a bug? Get information on how to report it.
