I am a bot that can reverse search furry art. I'll try to find the sources of any images you throw at me\! I can also help out in channels and groups chats, check out Fluffle its [bot documentation](https://fluffle.xyz/bot/) if you are interested in that.

See /help to see which commands are available and such.
