<div id="mobile-navbar" class="f-navbar d-md-none">
    <div class="d-flex justify-content-center bg-dark pb-2 pt-3">
        <a class="px-4 f-navbar-item" routerLink="/" appReload routerLinkActive="f-navbar-link-active"
            [routerLinkActiveOptions]="{exact: true}">
            <i class="fas fa-undo d-block text-center f-navbar-item-icon"></i>
            <span class="f-navbar-item-text">Search</span>
        </a>
        <a class="px-4 f-navbar-item" routerLink="/about" routerLinkActive="f-navbar-link-active">
            <i class="fas fa-info d-block text-center f-navbar-item-icon"></i>
            <span class="f-navbar-item-text">About</span>
        </a>
        <a class="px-4 f-navbar-item" routerLink="/contact" routerLinkActive="f-navbar-link-active">
            <i class="fas fa-envelope d-block text-center f-navbar-item-icon"></i>
            <span class="f-navbar-item-text">Contact</span>
        </a>
    </div>
</div>