<h1 class="text-center">Indexing status</h1>

<div class="d-flex flex-wrap justify-content-around">
    <div class="w-50 p-2" *ngFor="let result of results">
        <div class="d-flex justify-content-around flex-wrap bg-dark rounded">
            <div class="p-4">
                <div class="d-flex">
                    <img class="d-block" [src]="platformHelper.getLogo(result.name)" height="160" />
                    <div class="ms-4 d-flex flex-column justify-content-center">
                        <p *ngIf="!result.isComplete">
                            Estimated number of images: {{result.estimatedCount.toLocaleString()}}
                        </p>
                        <p>
                            <span *ngIf="!result.isComplete">Of which have been scraped:</span>
                            <span *ngIf="result.isComplete">Number of images:</span>
                            <span> {{result.storedCount.toLocaleString()}}</span>
                        </p>
                        <p>
                            Of which have been indexed: {{result.indexedCount.toLocaleString()}}
                        </p>
                    </div>
                </div>
                <div class="progress bg-dark mt-3 position-relative">
                    <div class="progress-bar bg-info position-absolute h-100" role="progressbar"
                        [ngStyle]="{'width.%': result.scrapedPercentage}"></div>
                    <div class="progress-bar bg-warning position-absolute h-100" role="progressbar"
                        [ngStyle]="{'width.%': result.indexedPercentage}"></div>
                </div>
            </div>
        </div>
    </div>
</div>